# General Settings
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Security (Change these in production/staging!)
JWT_SECRET=super_secret_for_jwt_auth_123
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_EXPIRES=7d

# Database Connection
# Replace with your local or Render PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/maydon?schema=public"
